@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 71 64% 76%;
    --foreground: 120 35% 13%;

    --card: 71 64% 78%;
    --card-foreground: 120 35% 13%;

    --popover: 71 64% 78%;
    --popover-foreground: 120 35% 13%;

    --primary: 98 45% 33%;
    --primary-foreground: 71 64% 76%;

    --secondary: 84 37% 49%;
    --secondary-foreground: 120 35% 13%;

    --muted: 71 64% 70%;
    --muted-foreground: 113 34% 24%;

    --accent: 113 34% 24%;
    --accent-foreground: 71 64% 76%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 71 64% 76%;

    --border: 84 37% 45%;
    --input: 71 64% 70%;
    --ring: 98 45% 33%;

    --radius: 0.5rem;

    --sidebar-background: 113 34% 24%;
    --sidebar-foreground: 71 64% 76%;
    --sidebar-primary: 98 45% 33%;
    --sidebar-primary-foreground: 71 64% 76%;
    --sidebar-accent: 84 37% 49%;
    --sidebar-accent-foreground: 120 35% 13%;
    --sidebar-border: 84 37% 45%;
    --sidebar-ring: 98 45% 33%;
  }

  .dark {
    --background: 120 35% 13%;
    --foreground: 71 64% 76%;

    --card: 113 34% 24%;
    --card-foreground: 71 64% 76%;

    --popover: 113 34% 24%;
    --popover-foreground: 71 64% 76%;

    --primary: 84 37% 49%;
    --primary-foreground: 120 35% 13%;

    --secondary: 98 45% 33%;
    --secondary-foreground: 71 64% 76%;

    --muted: 113 34% 20%;
    --muted-foreground: 84 37% 45%;

    --accent: 98 45% 33%;
    --accent-foreground: 71 64% 76%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 71 64% 76%;

    --border: 98 45% 25%;
    --input: 113 34% 20%;
    --ring: 84 37% 49%;
    --sidebar-background: 120 35% 10%;
    --sidebar-foreground: 71 64% 76%;
    --sidebar-primary: 84 37% 49%;
    --sidebar-primary-foreground: 120 35% 13%;
    --sidebar-accent: 113 34% 18%;
    --sidebar-accent-foreground: 71 64% 76%;
    --sidebar-border: 98 45% 25%;
    --sidebar-ring: 84 37% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}